# [submodule "source"]
# 	path = source
# 	url = https://github.com/MaineK00n/vuls-data-source.git
# 	branch = main
# [submodule "output"]
# 	path = output
# 	url = https://github.com/MaineK00n/vuls-data-output.git
# 	branch = main
[submodule "pkg/fetch/os/ubuntu/tracker/testdata/fixtures/ubuntu-security-tracker"]
	path = pkg/fetch/os/ubuntu/tracker/testdata/fixtures/ubuntu-security-tracker
	url = https://github.com/MaineK00n/ubuntu-security-tracker.git
[submodule "pkg/fetch/other/exploit/githubrepos/testdata/fixtures/PoC-in-GitHub"]
	path = pkg/fetch/other/exploit/githubrepos/testdata/fixtures/PoC-in-GitHub
	url = https://github.com/MaineK00n/PoC-in-GitHub.git
[submodule "pkg/fetch/other/exploit/trickest/testdata/fixtures/trickest"]
	path = pkg/fetch/other/exploit/trickest/testdata/fixtures/trickest
	url = https://github.com/MaineK00n/trickest.git
