[submodule "source"]
	path = source
	url = https://github.com/MaineK00n/vuls-data-source.git
	branch = main
[submodule "output"]
	path = output
	url = https://github.com/MaineK00n/vuls-data.git
	branch = main
[submodule "pkg/fetch/os/ubuntu/tracker/testdata/fixtures/ubuntu-security-tracker"]
	path = pkg/fetch/os/ubuntu/tracker/testdata/fixtures/ubuntu-security-tracker
	url = https://github.com/MaineK00n/ubuntu-security-tracker.git