[submodule "pkg/fetch/ubuntu/tracker/testdata/fixtures/ubuntu-security-tracker"]
	path = pkg/fetch/ubuntu/tracker/testdata/fixtures/ubuntu-security-tracker
	url = https://github.com/MaineK00n/ubuntu-security-tracker.git
[submodule "pkg/fetch/gentoo/testdata/fixtures/glsa"]
	path = pkg/fetch/gentoo/testdata/fixtures/glsa
	url = https://github.com/MaineK00n/glsa.git
[submodule "pkg/extract/util/git/testdata/fixtures/gitrepo"]
	path = pkg/extract/util/git/testdata/fixtures/gitrepo
	url = https://github.com/MaineK00n/vuls-data-update-utilgit.git
[submodule "pkg/diff/testdata/fixtures/vuls-data-extracted-diff-test.git"]
	path = pkg/diff/testdata/fixtures/vuls-data-extracted-diff-test.git
	url = https://github.com/vulsio/vuls-data-extracted-diff-test.git
[submodule "pkg/diff/testdata/fixtures/vuls-data-extracted-diff-test-archive-1.git"]
	path = pkg/diff/testdata/fixtures/vuls-data-extracted-diff-test-archive-1.git
	url = https://github.com/vulsio/vuls-data-extracted-diff-test-archive-1.git
[submodule "pkg/diff/testdata/fixtures/vuls-data-raw-diff-test.git"]
	path = pkg/diff/testdata/fixtures/vuls-data-raw-diff-test.git
	url = https://github.com/vulsio/vuls-data-raw-diff-test.git
